.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu.show .menu-nav,
.menu.show .menu-branding,
.menu.show .nav-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(5, 10, 14, 0.9);
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav .nav-item.current > a {
  color: #E2C044;
}

.menu-nav .nav-item .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav .nav-item .nav-link:hover {
  color: #E2C044;
}

.menu-branding {
  background: rgba(12, 24, 33, 0.9);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding .portrait-flipper {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.menu-branding .portrait-flipper .front,
.menu-branding .portrait-flipper .back {
  width: 250px;
  height: 250px;
  border: 3px solid #E2C044;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.menu-branding .portrait-flipper .front {
  background: url("../images/portrait-me.png");
  background-size: cover;
  position: absolute;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.menu-branding .portrait-flipper .back {
  background: #0C1821;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.menu-branding .portrait-flipper .back span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.5rem;
}

.menu-branding .portrait-flipper:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.menu-branding .portrait-flipper:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0C1821;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 24, 33, 0.9);
  z-index: -1;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 4rem;
  overflow-wrap: break-word;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(15, 29, 40, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #E2C044;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

main#home .icons {
  margin-top: 1rem;
}

main#home .icons a {
  padding: 0.4rem;
}

main#home .icons a:hover {
  color: #E2C044;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main#about .about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main#about .about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #E2C044 3px solid;
}

main#about .about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#about .about-info .bio p {
  font-size: 1rem;
  text-align: justify;
}

main#about .about-info .bio img {
  width: 250px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main#about .about-info .job {
  background: #132634;
  padding: 0.5rem;
  border-bottom: #E2C044 5px solid;
  position: relative;
  max-height: 50px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

main#about .about-info .job:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

main#about .about-info .job:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

main#about .about-info .job:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

main#about .about-info .job button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #E2C044;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

main#about .about-info .job button:after {
  content: '\002B';
}

main#about .about-info .job button.active:after {
  content: "\2212";
}

main#work .projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.7rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main#work .projects .item {
  text-align: center;
}

main#work .projects .item img {
  width: 100%;
  height: 180px;
  border: 3px #fff solid;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 57%;
     object-position: 0 57%;
}

main#work .projects .item img:hover {
  opacity: 0.5;
  border-color: #E2C044;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #E2C044;
  color: #000;
}

.btn:hover.tech-tags span, .btn-dark:hover.tech-tags span, .btn-light:hover.tech-tags span {
  color: #000;
  border-color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-dark.tech-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-dark.tech-tags span {
  color: #fff;
  font-weight: bold;
  font-size: 0.7em;
  padding: 3px 7px;
  border-radius: 40px;
  border: 1px solid #fff;
  margin: 0 1px;
}

.btn-light {
  background: #fbfcfd;
  color: #000;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: black;
  color: #fff;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  main#work .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main#work .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 1.5rem;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  main#about .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main#work .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu ul.menu-nav,
  .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .menu-branding .portrait-flipper .front, .menu .menu-branding .portrait-flipper .back {
    width: 100px;
    height: 100px;
  }
  .menu .menu-branding .portrait-flipper:hover .front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .menu .menu-branding .portrait-flipper:hover .back {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  main#about .about-info .bio img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main#work .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-height: 414px) {
  html {
    position: relative;
  }
}
/*# sourceMappingURL=main.css.map */